
.slider-container {
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

}

.slider-images{
    margin: 0 auto;
    width: 100%;
}


#sliderButtonPrev, #sliderButtonNext{
    cursor: pointer;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: none;
    height: 100%;
    text-shadow: 0px 0px 1px white;
    font-size: 2rem;
    
}

#sliderButtonNext{
    right: 0px;
}

#sliderButtonNext:hover, #sliderButtonPrev:hover{
    transform: scale(1.5,1.0);
    transition-duration: 200ms
}

#sliderButtonPrev:focus, #sliderButtonNext:focus{
    border: none;
    outline: none;
}


.slider-container .slider-images a{
    margin: 0 auto;
    width: 100%;
    display: none;
}

.slider-container .slider-images .display-visible{
    display: inline;
}

.slider-container .slider-images a img{
    width: 100%;
    height: auto;
    opacity: 0;
    transition-duration: 1000ms;
    
}

.slider-container .slider-images a .image-visible{
    opacity: 1;
}


