
.slider-container {
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

}

.slider-images{
    margin: 0 auto;
    width: 100%;
}


#sliderButtonPrev, #sliderButtonNext{
    cursor: pointer;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: none;
    height: 100%;
    text-shadow: 0px 0px 1px white;
    font-size: 2rem;
    
}

#sliderButtonNext{
    right: 0px;
}

#sliderButtonNext:hover, #sliderButtonPrev:hover{
    transform: scale(1.5,1.0);
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
}

#sliderButtonPrev:focus, #sliderButtonNext:focus{
    border: none;
    outline: none;
}


.slider-container .slider-images a{
    margin: 0 auto;
    width: 100%;
    display: none;
}

.slider-container .slider-images .display-visible{
    display: inline;
}

.slider-container .slider-images a img{
    width: 100%;
    height: auto;
    opacity: 0;
    -moz-transition-duration: 1000ms;
    transition-duration: 1000ms;
    
}

.slider-container .slider-images a .image-visible{
    opacity: 1;
}



.new-slider{
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.new-slider-img{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition-duration: 1000ms;

}

.new-slider-img a{
    transition-duration: 1000ms;
}

.slider-image-item{
    width: 100%;
    transition: 1s;
    left: 0;
}

.slider-image-item.left {
    position: absolute;
    left: -100%;
}

.slider-image-item.right {
    position: absolute;
    left: 100%;
    top: 0;
}


.slider-item-container{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.slider-item{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 1px black;
    display: flex;
    padding: 60px 200px 60px 60px;
    width: 100%;
    height: 100%;
    background-image: url(../img/slider/2.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.slider-item.right{
    justify-content: flex-end;
}

.slider-item.center{
    justify-content: center;
    align-items: center;
}
.slider-item-content-text-name{
    font-size: 4rem;
    margin: 0px;
}

.slider-item-content-text-descr{
    font-size: 2.5rem;
    margin: 0px;
}

.slider-item-content-text-subdescr{
    font-size: 1.2rem;
    margin: 0px;
    padding-bottom: 20px;
}

.slider-item-content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 184px;
    height: 57px;
    font-size: 1.14rem;
    font-weight: 600;
    text-align: center;
    color: white;
    transition: 300ms;
}

.slider-item-content-button.red{
    background-color: #e5343e;
}
.slider-item-content-button.blue{
    background-color: #9941ef;
}

.slider-item-content-button:hover {
    background-color: rgb(252, 165, 60);
    transition: 300ms;
}