* {
    font-family: Arial, Helvetica, sans-serif;
}

.slider-container {
    max-width: 90%;
    border: 1px solid black;
    margin: 0 auto;

}

.slider-container .slider-images a{
    display: none;
}

.slider-container .slider-images .display-visible{
    display: inline;
}

.slider-container .slider-images a img{
    width: 100%;
    opacity: 0;
    transition-duration: 1000ms;
    
}

.slider-container .slider-images a .image-visible{
    opacity: 1;
}





.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 500px 
}

.boxes {
    width: 150px;
    height: 150px;
    border: pink solid 3px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checks {
    margin-top: 10px;
}

.checks label, .checks input {
    cursor: pointer;
}

.checks form {
    width: 30%;
    display: flex;
    flex-direction: column;
}
